build/Release
node_modules
jspm_packages
Icon
Network Trash Folder
Temporary Items
logs
npm-debug.log*
pids
lib-cov
coverage
dist
vsc-extension-quickstart.md
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.nyc_output
.grunt
.lock-wscript
.npm
.eslintcache
.node_repl_history
.yarn-integrity
.nuxt
.apdisk
*.vsix
*.DS_Store
*.log
*.pid
*.seed
*.pid.lock
*.tgz